[Desktop Entry]
Name=Yum Extender
Name[zh_TW]=Yum 延伸程式
Comment=GUI front end for Yum
Comment[pl]=Graficzny interfejs do Yuma
Comment[zh_TW]=Yum 的圖形使用者介面前端程式
Categories=Settings;PackageManager;
Icon=/usr/share/pixmaps/yumex/yumex-icon.png
Exec=/usr/bin/gksu -u root /usr/bin/yumex
NotShowIn=KDE;
Type=Application
Terminal=false
X-Desktop-File-Install-Version=0.10
# vi:encoding=utf-8
